@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.RecipeName, "Name")
  @Html.EditorFor(model => model.RecipeName)

  @Html.LabelFor(model => model.Instructions)
  @Html.EditorFor(model => model.Instructions)

  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Rating)
  @Html.EditorFor(model => model.Rating)

  @Html.Label("Select Tag")
  @Html.DropDownList("TagId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Recipes", "Index")</p>